<mat-drawer-container class="example-container">
    <mat-drawer-content>
        <h1>Titulo</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consequuntur omnis recusandae debitis cum, sunt nemo, veniam expedita inventore exercitationem quidem, praesentium voluptates rem maxime. Recusandae explicabo vitae repellendus temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus tempora numquam repellendus dicta saepe illo ut necessitatibus rerum consequatur! Nobis exercitationem libero ea vel alias corrupti repellendus tempore itaque harum.</p>
        <img src="https://lh3.googleusercontent.com/proxy/QjN-quYLznh1FlsaN86Dl327JjgO9xJeCbdl3lle8wn7S4dO0Luwkvj9nJJpUJeqvMZLRXm9MRRWKTO18Gm-WmgeSA" alt="ejemplo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eius eos earum. Fuga sed dicta delectus accusamus voluptatibus quod cupiditate nemo possimus voluptas corrupti tempora blanditiis quibusdam, architecto eius illo?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, saepe, est consectetur possimus, corrupti officia expedita incidunt beatae doloribus qui labore. Suscipit culpa tenetur rem doloribus exercitationem quos magnam doloremque.lo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam rem ad consequuntur, reprehenderit minus adipisci sunt praesentium ratione tempore quidem neque, animi quaerat voluptate nemo id nostrum ducimus fugit mollitia!</p>
        <hr>
        <h2>Referencias</h2>
        <mat-list role="list">
            <mat-list-item role="listitem">Referencia 1</mat-list-item>
            <mat-list-item role="listitem">Referencia 2</mat-list-item>
            <mat-list-item role="listitem">Referencia 3</mat-list-item>
          </mat-list>
          
    </mat-drawer-content>
  </mat-drawer-container>
  