<mat-drawer-container class="example-container">
    <mat-drawer-content>
        <h1>Fabulas de nuestro sitio</h1>
        <h3>Fábula del pollo</h3>
        <p>Un pollito amarillo se encontraba en el campo paseando distraídamentecuando de repente apareció un gavilán que lo empezó a sobrevolar con la intención de comérselo.</p>
        <p>Al darse cuenta de su situación, el pollito se refugio debajo de una vaca y le pidió ayuda:</p>
        <p>- "señora vaquita, señora vaquita, por favor protéjame del gavilán ".
            La vaca, muy amable, se hizo caca encima del pollito con la intención de esconderlo del ave de rapiña. Cuando el pollito se vio sumergido en bosta, sacó la cabeza de la misma en busca de luz, al asomarse afuera lo vio el gavilán quien inmediatamente lo sacó de la bosta y se lo comió.</p>
        <ul>
            <p>Moraleja 2: No todo el que te llena de mierda es tu enemigo.</p>
            <p>Moraleja 3: No todo el que te saca de la mierda es tu amigo.</p>
            <p> Moraleja 4: Si estás de mierda hasta la coronilla, no digas ni pío.</p>
        </ul>          
    </mat-drawer-content>
    <mat-drawer-content>
        <h3>Fábula del conejo</h3>
    <p>Un cuervo estaba sentado en un árbol, sin hacer nada todo el día.</p>
    <p>Un pequeño conejo se dio cuenta de esto y le pregunto:</p>
    <p>- Puedo sentarme como tú y pasarme todo el día sin hacer nada??</p>
    <p>El cuervo respondió: -"Claro, porque no!!</p>
    <p>El conejo se sentó en el suelo, y descanso. Repentinamente, apareció un lobo salto encima del conejo y se lo comió.</p>
    <ul>
        <p>Moraleja 5: Para estar sentado sin hacer nada, debes estar muy, muy alto.</p>
    </ul>
    </mat-drawer-content>
    <mat-drawer-content>
        <h3>Fábula del pavo</h3>
        <p>Un pavo estaba hablando con un toro:</p>
        <p>-Me gustaría poder treparme al tope de ese árbol, pero no tengo energías- decía.</p>
        <p>-Bien, porque no pruebas un poco de mi mierda??- dijo el toro.- Están llenas de nutrientes.</p>
        <p>El pavo probó un poco de la mierda, y noto que realmente le dio suficiente fuerza para alcanzar la primera rama del árbol.</p>
        <p>Al siguiente día, después de comer otro poco de mierda, alcanzó la segunda rama.</p>
        <p>Finalmente, después de dos semanas, él estaba orgullosamente trepado en el tope del árbol.</p>
        <p>Mas tarde, sin embargo, el pavo fue repentinamente tumbado del árbol por un campesino, que le disparó.</p>
        <ul>
        <p>Moraleja 6: Puedes llegar al tope a base de pura mierda, pero ella no te mantendrá ahí.</p>
    </ul>
    <h3>Referencias</h3>
        <a href="https://www.dominikano.com/fabulas.html">dominikano.com</a>
    </mat-drawer-content>
</mat-drawer-container>
