<mat-toolbar color="primary">
    <img mat-card-sm-image src="https://images.vexels.com/media/users/3/150961/isolated/lists/79eccbd3f97c1d032e6a2819816b54b3-bandera-del-corazon-de-republica-dominicana.png" >
    <span>Historia Dominicana</span>
    <a class="btn btn-outline-danger" href="Inicio">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    <a class="btn btn-outline-danger" href="Nosotros">
        <mat-icon aria-hidden="false" aria-label="Example home icon">groups </mat-icon></a>
    <a class="btn btn-outline-danger" href="Contactos">
        <mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon></a>
    <a class="btn btn-outline-danger" href="Informacion">
        <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon></a>
   
</mat-toolbar>
